// Replicate ANT DESIGN variables here
$primary-color: '#1DA57A';


// Modify ANT DESIGN variables here


// Custom variables here
$white: #FFFFFF;
$black: #000000;
$bg-color: #3d4159;
$bg-login: #F6E8D9;
$navy-blue: #151721;
